.accordion {
  display: flex;
  flex-direction: column;
  background-color: var(--ui-color-default);
  border-radius: var(--ui-size-12);
  overflow: hidden;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: var(--ui-size-16);
    transition-property: opacity, height;
    color: var(--ui-color-accent-1);
  }

  &__body {
    transition: var(--ui-transition);
    opacity: 0;
    color: var(--ui-color-accent-1);

    &_open {
      will-change: auto;
      opacity: 1;
    }
  }

  &__content {
    padding: var(--ui-size-16);
  }

  &__button {
    background: none;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    width: var(--ui-size-24);
    height: var(--ui-size-24);
    color: var(--ui-color-icons);
    transition: var(--ui-transition);
    transition-property: transform;

    &_open {
      transform: rotate(-90deg);
    }
  }
}
